*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
section{
    display: flex;
    justify-content: space-between;
}


/* Navigation styling */
#Navigation{
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
    


ul{
    display: flex;
    float: right;
    margin-top: 50px;
}
li{
    display: inline-block;
    margin-right: 30px;
    
}
#login{
    padding: 5px, 5px;
    background-color: yellow;
    border: none;
    margin-right: 30px;
    padding: 3px;
}
#login2{

    padding: 5px, 5px;
    background-color: black;
    color: yellow;
    border: none;
    margin-right: 30px;
    padding: 3px;
    
}
a{
    color: white;
    font-size: 15px;
    margin-top: 0;
}
.text h1{
    color: yellow;
    font-size: 50px;
    margin-top: 15%;
    padding-bottom: 60px ;
}
.text > p{
    color: white;
    font-size: 30px;
}
/* background image */
body{
    background-image: url("/asset/images/moving 1.png");
    background-position: center;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* hero section */
.hero_section{ 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.container{
    justify-content: space-between;
    position: relative;
    right: 20px;

}
.hero_container{
    display: flex;
    align-items: center;
    margin: 30px;
    padding-top: 30px;
    position: relative;
    float: right;


}

   
.hero_text{
    padding-top: 60px;
    line-height: 1.5;
    float: right;
    display: inline;
    

}
img{
    padding: auto;
    width: 400px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    justify-content: space-around;
}
.hero_button{
    color:  #FFAC12;
}