*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
section{
    display: flex;
    justify-content: space-between;
}


/* Navigation styling */
#Navigation{
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
    


ul{
    display: flex;
    float: right;
    margin-top: 50px;
}
li{
    display: inline-block;
    margin-right: 30px;
    
}
#login{
    padding: 5px, 5px;
    background-color: yellow;
    border: none;
    margin-right: 30px;
    padding: 3px;
}
#login2{

    padding: 5px, 5px;
    background-color: black;
    color: yellow;
    border: none;
    margin-right: 30px;
    padding: 3px;
    
}
a{
    color: white;
    font-size: 15px;
    margin-top: 0;
}
.text h1{
    color: yellow;
    font-size: 50px;
    margin-top: 15%;
    padding-bottom: 60px ;
}
.text > p{
    color: white;
    font-size: 30px;
}
/* background image */
body{
    background-image: url("/asset/images/moving 1.png");
    background-position: center;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* hero section */
.hero_section{ 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.container{
    justify-content: space-between;
    align-items: right;
    margin: 0;
    padding: 0;
    display: flex;


}
#hero_container{
   
    margin-top: 500px;
    margin-left: 100px;
    width: 500px;
    margin-right: auto;
}

   
.hero_text{
    margin-right: 30px;
    margin-top: 0;


}
.image1{
   
    width: 500px;
    margin-top: 400px;
    
}
    
.image1 > .img{
    width: 400px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    justify-content: left;
    padding-top: 20%;

}
.hero_button{
    color:  #FFAC12;
    background-color: black;
    padding: 10px;
    margin: 30px;
    border-top-right-radius: 20px;

}
/* top movers section */
.container_box{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 10px;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 30px;
    row-gap: 10px;

}

 img{ 
      width: 300px; 
       height: 300px;
      margin: 20px; 
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    
      
 } 
.h2_text{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 50px;
    padding-top: 70px;
}
/* footer */
.container_footer{
    background-color: brown;
    margin-top: 800px;
    width: 1300px;
    height: 300px;
    box-sizing: border-box;
}
hr{
    margin-top: 50px;
}
.text1{
    margin-top: 50px;
}